*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: rgb(126, 235, 229);
    font-size: 50px;
    font-family: cursive;
    font-weight: bolder;
}
.clock {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);   
}
.clock2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);   
}